{% extends 'app\baseCuenta.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>código</th>
                        <th>nombre</th>
                        <th>marca</th>
                        <th>precio</th>
                        <th>descripción</th>
                        <th>stock</th>
                        <th>categoría</th>
                        <th>imagen</th>
                        <th>fecha ingreso</th>
                        <th>opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aux in listarProductos %}
                    <tr>
                        <td>{{ aux.codigo }}</td>
                        <td>{{ aux.nombre }}</td>
                        <td>{{ aux.marca }}</td>
                        <td>{{ aux.stock}}</td>
                        <td>{{ aux.precio }}</td>
                        <td>{{ aux.descripcion }}</td>
                        <td>
                            {% for cat in aux.categoria.all %}
                            {{ '-' }}{{ cat.categoria }}
                            {% endfor %}
                        </td>
                        <td class="item-img">
                            {% if aux.imagen %}
                            <img src="{{ aux.imagen.url }}" class="" style="width: 100px;">
                            {% else %}
                            <img src="{% static 'app/img/alimentoPerro.png' %}" class="">
                            {% endif %}
                        </td>
                        <td>{{ aux.create_at }}</td>
                        <td class="align-items-center">
                            <a href="{% url 'modificar_producto' aux.codigo %}" class="btn btn-success">Modificar</a>
                            <a href="{% url 'eliminar_producto' aux.codigo %}"
                                class="delete btn btn-danger">Eliminar</a>
                            <script>
                                $('.delete').on('click', function (e) {
                                    e.preventDefault();
                                    var self = $(this);
                                    console.log(self.data('titulo'));
                                    Swal.fire({
                                        title: 'Esta seguro?',
                                        text: "No podra revertir este proceso!",
                                        icon: 'warning',
                                        showCancelButton: true,
                                        confirmButtonColor: '#3085d6',
                                        cancelButtonColor: '#d33',
                                        confirmButtonText: 'Borralo!'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            Swal.fire(
                                                'Borrado!',
                                                'El producto fue borrado con exito!.',
                                                'Muy bien'
                                            )
                                            location.href = self.attr('href');
                                        }
                                    })
                                })
                            </script>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}